@import "tailwindcss";

@theme {
    --color-primary: #810B38;
    --color-secondary: #541A1A;
    --color-blush: #DCC3AA;
    --color-cream: #F1E2D1;
    --color-sage: #DCC3AA;
}

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@source '../views';
@source '../js/**/*';